In [43]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [44]:
train_data=pd.read_csv('fashion-mnist_train.csv')
test_data=pd.read_csv('fashion-mnist_test.csv')

In [45]:
train_x=train_data.iloc[:,1:]
train_y=train_data.iloc[:,0]
test_x=test_data.iloc[:,1:]
test_y=test_data.iloc[:,0]

In [46]:
train_x

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,5,0,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,1,2,0,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,0,0,0,0,0,0,0,0,0,0,...,73,0,0,0,0,0,0,0,0,0
59997,0,0,0,0,0,0,0,0,0,0,...,160,162,163,135,94,0,0,0,0,0
59998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
train_y

0        2
1        9
2        6
3        0
4        3
        ..
59995    9
59996    1
59997    8
59998    8
59999    7
Name: label, Length: 60000, dtype: int64

In [48]:
train_ax=np.array(train_x)
train_ax=train_ax/255
train_ax.shape

(60000, 784)

In [49]:
test_ax=np.array(test_x)
test_ax=test_ax/255
test_ax.shape

(10000, 784)

In [50]:
train_ay=np.array(train_y)
train_ay.shape

(60000,)

In [51]:
test_ay=np.array(test_y)
test_ay.shape

(10000,)

setting up layers

In [52]:
nn_model=tf.keras.Sequential([tf.keras.layers.InputLayer(input_shape=(784,)),tf.keras.layers.Dense(532,activation='relu'),tf.keras.layers.Dense(532,activation='relu'),tf.keras.layers.Dense(532,activation='relu'),tf.keras.layers.Dense(10,activation='softmax')])

compiling the model

In [53]:
nn_model.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

feeding the model/training

In [54]:
nn_model.fit(train_ax,train_ay,epochs=10)

Epoch 1/10
1875/1875 [==============================] - 26s 14ms/step - loss: 0.5880 - accuracy: 0.7870
Epoch 2/10
1875/1875 [==============================] - 26s 14ms/step - loss: 0.3795 - accuracy: 0.8618
Epoch 3/10
1875/1875 [==============================] - 25s 13ms/step - loss: 0.3421 - accuracy: 0.8748
Epoch 4/10
1875/1875 [==============================] - 25s 14ms/step - loss: 0.3053 - accuracy: 0.8862
Epoch 5/10
1875/1875 [==============================] - 26s 14ms/step - loss: 0.2902 - accuracy: 0.8931
Epoch 6/10
1875/1875 [==============================] - 26s 14ms/step - loss: 0.2773 - accuracy: 0.8970
Epoch 7/10
1875/1875 [==============================] - 26s 14ms/step - loss: 0.2586 - accuracy: 0.9027
Epoch 8/10
1875/1875 [==============================] - 26s 14ms/step - loss: 0.2475 - accuracy: 0.9059
Epoch 9/10
1875/1875 [==============================] - 26s 14ms/step - loss: 0.2409 - accuracy: 0.9105
Epoch 10/10
1875/1875 [==============================] - 26s 14ms/step - loss: 0.2312 - accuracy: 0.9126

evaluating accuracy

In [57]:
loss,accuracy=nn_model.evaluate(test_ax,test_ay)
accuracy

313/313 [==============================] - 2s 5ms/step - loss: 0.3207 - accuracy: 0.8875

0.887499988079071

In [59]:
predictions=nn_model.predict(test_ax)
predictions[0]

array([9.1069913e-01, 1.0111262e-06, 2.0650525e-03, 5.5407047e-05,
       1.7658049e-04, 6.8888362e-08, 8.6979114e-02, 2.5094162e-09,
       2.3505791e-05, 6.6552328e-09], dtype=float32)